# Introduction to Sets âœ…

Sets are an unordered collection of unique elements. We can construct them by using the set() function

Sets cannot have duplicates.

Sets are mutable just like lists.

You can create a non-empty set with { } curly braces by specifying elements separated by a comma

In [1]:
# Create an empty set
empty_set =set()

type(empty_set)

set

# Note
>> An empty set cannot be represented as { }, which is reserved for an empty dictionary

In [2]:
# Create a non-empty set within curly braces
non_empty_set = {1,6,4,'sujana'}
type(non_empty_set)

set

In [3]:
# Create a list with repeats
my_lis = [1,1,2,2,3,4,5,6,1,1]

In [4]:
tuple(my_lis)

(1, 1, 2, 2, 3, 4, 5, 6, 1, 1)

In [5]:
# to get unique values
my_set = set(my_lis)
my_set

{1, 2, 3, 4, 5, 6}

In [7]:
# A set cannot have mutable items
my_set = {1, 2, [3, 4]}
my_set

TypeError: unhashable type: 'list'

> We cannot create a set whose any of the elements is a list

In [8]:
# But we can have tuples as set elements, they are immutable
my_set = {1, 2, (2,3)}
my_set

{(2, 3), 1, 2}

# add()

add() method adds an element to a set

This method takes the element to be added as an argument

In [11]:
# We add to sets with the add() method
my_set = set()
my_set.add('sujana')

In [12]:
print(my_set)

{'sujana'}

In [13]:
# Try to add the same element 1 again
my_set.add(2)

In [14]:
print(my_set)

{2, 'sujana'}

# update()

> update() method helps to add multiple elements to a set

In [15]:
x={143,4,0.5,"shruti"}

In [16]:
# add multiple elements
x.update([2, 3, 4])
print(x)

{0.5, 2, 3, 4, 143, 'shruti'}

# remove()
# Use remove() to remove an item/element from the set.
# By default remove() removes the specified element from the set.
## remove() takes the element as an argument.

In [3]:
non_empty_set = {1,5,"likitha","suresh"}

In [4]:
non_empty_set.remove(1)

In [5]:
non_empty_set

{5, 'likitha', 'suresh'}

In [6]:
non_empty_set.remove(45)

KeyError: 45

In [7]:
non_empty_set.discard(45)

# remove() throws an error when we try to remove an element which is not present in the set


# union()

>union() method returns the union of two sets

> Also denoted by the operator |

In [8]:
# Initialize sets A and B

A = {4, 5, 6, 7, 8}
B = {1, 2, 3, 4, 5}

TypeError: '<' not supported between instances of 'list' and 'int'