# Introduction to Dictionaries âœ…

> Constructing a Dictionary

> A dictionary object is constructed using curly braces {key1:value1,key2:value2,key3:value3}

> what is Dictionary : ** mapping of one to one relationship b/w key ,value pair is called dictionay**

> what are mappings? Mappings are a collection of objects that are stored by a key, unlike a sequence that stored objects

In [7]:
# Make a dictionary with {} and : to signify a key and a value

marvel_dict = {'Name':'Thor'   ,  'Place':'Asgard',  'Weapon' : 'Hammer',     1:2,    3 : 'power',    'super_heros' : ['Ironman','Captain America'],  'abc' : {1:2, 4:5}}

In [8]:
marvel_dict["Name"]

'Thor'

In [9]:
marvel_dict["super_heros"]

['Ironman', 'Captain America']

In [10]:
marvel_dict ['Weapon']

'Hammer'

In [11]:
marvel_dict["abc"]

{1: 2, 4: 5}

In [12]:
type(marvel_dict)

dict

# Dictionary Methods

# keys()

> keys() method returns the list of keys in the dictionary object

In [13]:
marvel_dict.keys()

dict_keys(['Name', 'Place', 'Weapon', 1, 3, 'super_heros', 'abc'])

In [46]:
list(marvel_dict.keys())

['Name',
 'Place',
 'Weapon',
 1,
 3,
 'super_heros',
 'abc',
 'Designation',
 'Salary',
 'ravi']

# values()

> values() method returns the list of values in the dictionary object

In [15]:
print(marvel_dict)

{'Name': 'Thor', 'Place': 'Asgard', 'Weapon': 'Hammer', 1: 2, 3: 'power', 'super_heros': ['Ironman', 'Captain America'], 'abc': {1: 2, 4: 5}}

In [16]:
marvel_dict.values()

dict_values(['Thor', 'Asgard', 'Hammer', 2, 'power', ['Ironman', 'Captain America'], {1: 2, 4: 5}])

In [17]:
list(marvel_dict.values())

['Thor',
 'Asgard',
 'Hammer',
 2,
 'power',
 ['Ironman', 'Captain America'],
 {1: 2, 4: 5}]

# items()

> items() method returns the list of the keys and values

In [18]:
# Get the keys and their corresponding values
marvel_dict.items()

dict_items([('Name', 'Thor'), ('Place', 'Asgard'), ('Weapon', 'Hammer'), (1, 2), (3, 'power'), ('super_heros', ['Ironman', 'Captain America']), ('abc', {1: 2, 4: 5})])

In [19]:
list(marvel_dict.items())

[('Name', 'Thor'),
 ('Place', 'Asgard'),
 ('Weapon', 'Hammer'),
 (1, 2),
 (3, 'power'),
 ('super_heros', ['Ironman', 'Captain America']),
 ('abc', {1: 2, 4: 5})]

>> NOTE::We can also use the get() method to extract a particular value of key-value pair.

# get()

>> get() method takes the key as an argument and returns None if the key is not found in the dictionary

>>We can also set the value to return if a key is not found. This will be passed as the second argument in get()

In [20]:
marvel_dict.get('Place')

'Asgard'

In [21]:
marvel_dict.get('Place',"found")

'Asgard'

In [22]:
marvel_dict.get('Place',"notfound")

'Asgard'

In [23]:
marvel_dict.get('Random','Not Found')

'Not Found'

In [24]:
# Add a new key

marvel_dict['Designation'] ='Data Scientist'

In [25]:
print(marvel_dict)

{'Name': 'Thor', 'Place': 'Asgard', 'Weapon': 'Hammer', 1: 2, 3: 'power', 'super_heros': ['Ironman', 'Captain America'], 'abc': {1: 2, 4: 5}, 'Designation': 'Data Scientist'}

In [27]:
marvel_dict.get('Weapon','not found')

'Hammer'

In [28]:
marvel_dict

{'Name': 'Thor',
 'Place': 'Asgard',
 'Weapon': 'Hammer',
 1: 2,
 3: 'power',
 'super_heros': ['Ironman', 'Captain America'],
 'abc': {1: 2, 4: 5},
 'Designation': 'Data Scientist'}

# another way to add new key

# update()

> You can add an element which is a key-value pair using the update() method

> This method takes a dictionary as an argument

In [29]:
marvel_dict.update({'Salary':'12,00,000',"ravi":"kumar"})

In [30]:
print(marvel_dict)

{'Name': 'Thor', 'Place': 'Asgard', 'Weapon': 'Hammer', 1: 2, 3: 'power', 'super_heros': ['Ironman', 'Captain America'], 'abc': {1: 2, 4: 5}, 'Designation': 'Data Scientist', 'Salary': '12,00,000', 'ravi': 'kumar'}

In [31]:
len(marvel_dict)

10

In [32]:
d1= {'name': "laxman" , 'MCA' :["python" , "ML" , "DL" , "NLP","CV" , "Big data" , "data analytics"]}

d1

d2=d1.copy()

In [33]:
d2

{'name': 'laxman',
 'MCA': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

# remove specific dictionary items and change of key names and deleting entire dictionary

In [34]:
del d1["name"]

In [35]:
d1

{'MCA': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

In [36]:
d2

{'name': 'laxman',
 'MCA': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

In [37]:
d2.pop("name")

d2

{'MCA': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

# updating key name

In [38]:
d2["skills"]=d2.pop("MCA")

In [39]:
d2

{'skills': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

In [40]:
del d2       # it will delete the total dictinary , u will get name Error

In [41]:
print(d2)

NameError: name 'd2' is not defined

In [42]:
d1.clear()    # it will clear the dictionary
print(d1)

{}

In [45]:
d2={["laxman"]:"name",1:2}    # we can't use list as key

TypeError: unhashable type: 'list'

In [46]:
d3={(1,2,3):"marks"}
d3

{(1, 2, 3): 'marks'}

In [47]:
d3[(1,2,3)]

'marks'

In [50]:
d3[(1)] ,d3[(2)], d3[(3)]

KeyError: 1

In [51]:
d4= {{12}:"marks"}     # we can't use set as key
d4

TypeError: unhashable type: 'set'

In [52]:
d1= {'name': "laxman" , 'MCA' :["python" , "ML" , "DL" , "NLP","CV" , "Big data" , "data analytics"]}

d1

d2=d1.copy()

In [53]:
d1+d3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [38]:
#concate supports
#string
#list
#tuples

#sets and dict notsupported

In [54]:
a1=[3]
a2=[4]
a3=[5]

nested_list=[a1,a2,a3]

nested_list

[[3], [4], [5]]