In [ ]:
#1.Python program to interchange first and last elements in a list
a=[1,2,34,45,56,78,9,12,22]
print(a)

[1, 2, 34, 45, 56, 78, 9, 12, 22]

In [ ]:

#2.swapping 1st and last element on the list
list1=[1, 2, 34, 45, 56, 78, 9, 12, 22]
list1[0],list1[8]=list1[8],list1[0]
print(list1)

[22, 2, 34, 45, 56, 78, 9, 12, 1]

In [ ]:
#3.Python Program to Swap Two Elements in a List
list1=[1, 2, 34, 45, 56, 78, 9, 12, 22]
list1[1],list1[4]=list1[4],list1[1]
print(list1)

[1, 56, 34, 45, 2, 78, 9, 12, 22]

In [ ]:
#Python Program to Swap Two Elements in a List another way
def swapList(sl,pos1,pos2):
    n = len(sl)
    # Swapping
    temp = sl[pos1]
    sl[pos1] = sl[pos2]
    sl[pos2] = temp
    return sl

a=[1, 2, 34, 45, 56, 78, 9, 12, 22]

pos1= 1
pos2= 4

print(a)
print("Swapped list: ",swapList(a,pos1-1,pos2-1))

[1, 2, 34, 45, 56, 78, 9, 12, 22]
Swapped list:  [45, 2, 34, 1, 56, 78, 9, 12, 22]

In [ ]:
#4.swapping elements on the list
b=['sowmya','navya','sneha','kavitha']
print(b)

['sowmya', 'navya', 'sneha', 'kavitha']

In [ ]:
b=['sowmya','navya','sneha','kavitha']

print("Before Swap :",b)

res = [sub.replace("sowmya","software").replace("navya", "engineer").replace("sneha", "data").replace("kavitha", "science") for sub in b]

print ("After Swap : ",res)

Before Swap : ['sowmya', 'navya', 'sneha', 'kavitha']
After Swap :  ['software', 'engineer', 'data', 'science']

In [ ]:
#5.How To Find the Length of a List in Python
print(b)
print(len(b))

['sowmya', 'navya', 'sneha', 'kavitha']
4

In [ ]:
#6Find Maximum of two numbers in Python
m=10
p=20
maximum=max(m,p)
print(maximum)

20

In [ ]:
#7.Minimum of two numbers in Python
minimum=min(m,p)
print(minimum)

10

In [ ]:
#8.Check if element exists in list in Python
print(a)

[45, 2, 34, 1, 56, 78, 9, 12, 22]

In [ ]:
if 34 in a:
    print("the element is there")
else:
    print("element is not there")

the element is there

In [ ]:
#9.Different ways to clear a list in Python
a=[1,2,34,45,56,78,9,12,22]
print("before clearing a list",a)
a.clear()
print("after clearing of list",a)

before clearing a list [1, 2, 34, 45, 56, 78, 9, 12, 22]
after clearing of list []

In [ ]:

#2nd way
l1=[1,2,3,4,5]
print("before clearing a list",l1)
l1=[]
print("after clearing a list",l1)

before clearing a list [1, 2, 3, 4, 5]
after clearing a list []

In [ ]:
#3rd way

c=[1,2,3,4,5]
print("before clearing a list",c)
c*=0
print("after clearing a list",c)

before clearing a list [1, 2, 3, 4, 5]
after clearing a list []

In [ ]:

#4th way
d=[1,2,4,5,6]
print("before clearing a list",d)
del d[:]
print("after clearing a list",d)

before clearing a list [1, 2, 4, 5, 6]
after clearing a list []

In [ ]:
#5th way

e=[1,2,4,5,6]
print("before clearing a list",e)

e = e[:0]
print("after clearing a list",e)

before clearing a list [1, 2, 4, 5, 6]
after clearing a list []

In [ ]:
#10.Reversing a List in Python
a=[1,2,34,56,67,78,89,90]
print(a[::-1])

[90, 89, 78, 67, 56, 34, 2, 1]

In [ ]:
print(a)

[1, 2, 34, 56, 67, 78, 89, 90]

In [ ]:
#2nd way
a = [10, 11, 12, 13, 14, 15]
a.reverse()
print("original list ", a)

print("reversed list ", list(reversed(a)))

original list  [15, 14, 13, 12, 11, 10]
reversed list  [10, 11, 12, 13, 14, 15]

In [ ]:
#11.Python | Cloning or Copying a list
def Cloning(li1):
    li_1 = li1[:]
    return li_1

li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
#another way
def Cloning(li1):
    li_a = []
    li_a.extend(li1)
    return li_a

li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
#12.Python | Count occurrences of an element in a list
a=[1,2,3,4,5,4,3,2,1,5]
print(a.count(1))
print(a.count(2))
print(a.count(5))

2
2
2

In [ ]:
#13.Find sum and average of List in Python
print(a)
print("sum is: ",sum(a))
average=sum(a)/len(a)
print("average is: ",average)

[1, 2, 3, 4, 5, 4, 3, 2, 1, 5]
sum is:  30
average is:  3.0

In [ ]:
#14.Python | Sum of number digits in List
b=[11,22,34,56,78]
print("the list before sum of digits is: ",b)
res=[]
for ele in b:
    sum=0
    for digit in str(ele):
        sum+=int(digit)
    res.append(sum)
print("sum of number of digits in the list is: ",res)

the list before sum of digits is:  [11, 22, 34, 56, 78]
sum of number of digits in the list is:  [2, 4, 7, 11, 15]

In [ ]:
#15.Python | Multiply all numbers in the list
# Python program to multiply all values in the
# list using traversal


def multiplyList(myList):
    result = 1
    for x in myList:
        result = result * x
    return result

list1 = [5, 2, 3]
list2 = [3, 8, 4]
print(multiplyList(list1))
print(multiplyList(list2))

30
96

In [ ]:
#16.Python program to find smallest number in a list
print(a)
print("minimum element in the list is: ",min(a))

[1, 2, 3, 4, 5, 4, 3, 2, 1, 5]
minimum element in the list is:  1

In [ ]:
#17.Python Program to Find Largest Number in a List
print(a)
print("maximum element in the list is: ",max(a))

[1, 2, 3, 4, 5, 4, 3, 2, 1, 5]
maximum element in the list is:  5

In [ ]:
#18.Python program to find second largest number in a list
l1=[1,23,34,45,67,78,99]
l1.sort()
element=l1[-2]
print("second largest element is: ", element)

second largest element is:  78

In [ ]:
#19.Python program to print even numbers in a list
a = [11,23,34,46,58,98]

for num in a:
    if num % 2 == 0:
        print(num, end=",")

34,46,58,98,

In [ ]:
#20.Python program to print odd numbers in a List
a = [11,23,34,46,58,98]

for num in a:
    if num % 2 != 0:
        print(num, end=",")

11,23,

In [ ]:
#21.Python program to print all even numbers in a range
for even_numbers in range(14,30,2):
    print(even_numbers,end=' ')

14 16 18 20 22 24 26 28

In [ ]:
#another way
def even(num1,num2):
    if num1>num2:
        return
    print(num1,end=" ")
    return even(num1+2,num2)
num1=4;num2=15
even(num1,num2)

4 6 8 10 12 14

In [ ]:
#22.Python program to print all odd numbers in a range
for odd_numbers in range(15,31,2):
    print(odd_numbers,end=' ')

15 17 19 21 23 25 27 29

In [ ]:
# Python program to print odd Numbers in given range(another way)

start=4
end = 19

for num in range(start, end + 1):
    if num % 2 != 0:
        print(num, end = " ")

5 7 9 11 13 15 17 19

In [ ]:
#23.Python program to count Even and Odd numbers in a List
a=[1,23,34,45,56,67,78,90,87]
even=0
odd=0
for i in a:
    if(i%2==0):
        even=even+1
    else:
        odd=odd+1
print("count of even numbers are:", even)
print("count of odd numbers are: ",odd)

count of even numbers are: 4
count of odd numbers are:  5

In [ ]:
#24.Python program to print positive numbers in a list
a=[1,2,3,4,5,-6,-5,-4,-3,-2,-1]
print("original list is: ",a)
pos=0
neg=0
for i in a:
  if (i>0):
    pos=pos+1
    print("positive numbers are:",i)

original list is:  [1, 2, 3, 4, 5, -6, -5, -4, -3, -2, -1]
positive numbers are: 1
positive numbers are: 2
positive numbers are: 3
positive numbers are: 4
positive numbers are: 5

In [ ]:
#25.Python program to print negative numbers in a list
#24.Python program to print positive numbers in a list
a=[1,2,3,4,5,-6,-5,-4,-3,-2,-1]
print("original list is: ",a)

neg=0
for i in a:
  if (i<0):
    neg=neg+1
    print("positive numbers are:",i)

original list is:  [1, 2, 3, 4, 5, -6, -5, -4, -3, -2, -1]
positive numbers are: -6
positive numbers are: -5
positive numbers are: -4
positive numbers are: -3
positive numbers are: -2
positive numbers are: -1

In [ ]:
#26.Python program to print all positive numbers in a range
li=[1,2,3,4,5,-9,-8,-6,-5,-4]
for i in li:
    if i>=0:
        print(i,end=',')

1,2,3,4,5,

In [ ]:
#27.Python program to print all negative numbers in a range
li=[1,2,3,4,5,-9,-8,-6,-5,-4]
for i in li:
    if i<=0:
        print(i,end=',')

-9,-8,-6,-5,-4,

In [ ]:
#28.Python program to count positive and negative numbers in a list
li=[1,2,3,4,5,-9,-8,-6,-5,-4]

pos=0
neg=0
for i in a:
    if(i>=0):
        pos=pos+1
    if(i<=0):
        neg=neg+1
print("count of positive numbers are:", pos)
print("count of negative numbers are: ",neg)

count of positive numbers are: 5
count of negative numbers are:  6

In [ ]:
#29.Remove multiple elements from a list in Python
a=['sowmya','pranavi','swetha','kavitha','ammu']
print("orginal list is: \n",a)
del a[2:4]
print("updated list is: \n", a)

orginal list is:
 ['sowmya', 'pranavi', 'swetha', 'kavitha', 'ammu']
updated list is:
 ['sowmya', 'pranavi', 'ammu']

In [ ]:
#30.Python | Remove empty tuples from a list
lis=[(1,2,3),(4,5),(),(6,7,8)]
for t in lis:
    if(len(t)==0):
        lis.remove(t)
print(lis)

[(1, 2, 3), (4, 5), (6, 7, 8)]

In [ ]:
#31.Python | Program to print duplicates from a list of integers
myList = [5, 10, 15, 18, 20, 25, 30, 30, 40, 50, 50, 50]
dupItems = []
uniqItems = {}
print("List = ",myList)

for x in myList:
    if x not in uniqItems:
        uniqItems[x] = 1
    else:
        if uniqItems[x] == 1:
            dupItems.append(x)
        uniqItems[x] += 1
print("Duplicate Elements = ",dupItems)

List =  [5, 10, 15, 18, 20, 25, 30, 30, 40, 50, 50, 50]
Duplicate Elements =  [30, 50]

In [ ]:
#32.Python – Remove empty List from List
lis=[[1,2,3],[4,5],[],[6,7,8]]
for t in lis:
    if(len(t)==0):
        lis.remove(t)
print(lis)

[[1, 2, 3], [4, 5], [6, 7, 8]]

In [ ]:
#.Python – Convert List to List of dictionaries

In [ ]:
#33.Convert Lists of List to Dictionary in Python
a=[[1,2,3,4],['a','b','c','d'],[10.20,30,40]]
d={}
for i in a:
  d[tuple(i[:2])]=tuple(i[2:])
print(str(d))

{(1, 2): (3, 4), ('a', 'b'): ('c', 'd'), (10.2, 30): (40,)}

In [ ]:
#34.Python | Uncommon elements in Lists of List
l1=[[1,2],[3,4],[5,8],[6,7]]
l2=[[2,3],[4,5],[6,7],[3,4]]
uncommon=[]
for sub in l1:
    if sub not in l2:
        uncommon.append(sub)
for sub1 in l2:
    if sub not in l2:
        uncommon.append(sub1)
print(" 1st list elements: ",l1)
print(" 2nd list elements: ",l2)
print("uncommon elements in the lists are: ",uncommon)

 1st list elements:  [[1, 2], [3, 4], [5, 8], [6, 7]]
 2nd list elements:  [[2, 3], [4, 5], [6, 7], [3, 4]]
uncommon elements in the lists are:  [[1, 2], [5, 8]]

In [ ]:
#35.Python program to select Random value from list of lists
import random

my_list = [1, 'a', 32, 'c', 'd', 31]
print(random.choice(my_list))

1

In [ ]:
#36. Reverse Row sort in Lists of List
list = [[4, 1, 6], [7, 8], [4, 10, 8]]
print("The original list is : " + str(list))

# Reverse Row sort in Lists of List
for ele in list:
    ele.sort(reverse=True)
print("The reverse sorted is : " + str(list))

The original list is : [[4, 1, 6], [7, 8], [4, 10, 8]]
The reverse sorted is : [[6, 4, 1], [8, 7], [10, 8, 4]]

In [ ]:
#Python – Pair elements with Rear element in Matrix Row

In [ ]:
#37.How to count unique values inside a list

li=[2,4,5,6,6,2,9,1]
li1=[]
count=0
for i in li:
  if i not in li1:
    li1.append(i)
    count=count+1
print("number of unique are : ",count)

number of unique are :  6

In [ ]:
#38.Python – List product excluding duplicates
li=[1,2,3,4,3]
b=list(set(a))
mul=1
for i in b:
  mul=mul*i
print(mul)

120

In [ ]:
#39.Python – Extract elements with Frequency greater than K
a = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
K = 2
res = []#taking empty list
for i in a:
	freq = a.count(i)#counting of elements in the list
	if freq > K and i not in res: #checking that list numbers are greater than 2 items and not on empty list
		res.append(i)

print(res)

[4, 3]

In [ ]:
#40.Python – Test if List contains elements in Range
a = [4, 5, 6, 18,7,13, 3,13, 9,15]

i = 3
j= 20

res = True
for e in a:
	if e < i or e >= j :
		res = False
		break

print ("if list contains all the elements in the range of 3 to 20 ",res)

if list contains all the elements in the range of 3 to 20  True

In [ ]:
#41.Python program to check if the list contains three consecutive common numbers in Python

a=[1,2,2,2,3,4,4,4,5,5,5]
l=len(a)#checking the length of list
for i in range(l-2):
  if a[i]==a[i+1]  and a[i+1]==a[i+2]:
    print(a[i])

2
4
5

In [ ]:
#Python program to find the Strongest Neighbour

In [ ]:
#42Python Program to print all Possible Combinations from the three Digits

a=int(input())
b=int(input())
c=int(input())
li=[]
li.append(a)
li.append(b)
li.append(c)
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if(i!=j and j!=k and k!=i):
        print(li[i],li[j],li[k])

1
2
3
1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
#43.Python program to find all the Combinations in the list with the given condition
li1=[1,2]
li2=[3,4]
res=[]
for ele1 in li1:
  for ele2 in li2:
    res.append((ele1,ele2))
    res.append((ele2,ele1))

print("combinations of 2 lists are:",res)

combinations of 2 tuples are: [(1, 3), (3, 1), (1, 4), (4, 1), (2, 3), (3, 2), (2, 4), (4, 2)]

In [ ]:
#44Python program to get all unique combinations of two Lists
#we can use the zip function
li1=[1,2]
li2=['a','b']
a=zip(li1,li2)
b=list(a)
print(b)

[(1, 'a'), (2, 'b')]

In [ ]:
#45Remove all the occurrences of an element from a list in Python
a = [1, 2, 3, 4, 2, 5, 2]
n=2#removing the 2 in the list
for i in a:
  if i==n:
    a.remove(n)
print(a)

[1, 3, 4, 5]

In [ ]:
#Python – Remove Consecutive K element records

In [ ]:
#46.Python – Replace index elements with elements in Other List
a = ['Tutor Joes', 'Computer', 'Education']
b = [2 ,1 ,0 ]

res = [a[i] for i in b]

print (res)

['Education', 'Computer', 'Tutor Joes']

In [ ]:
#Python – Retain records with N occurrences of K

In [ ]:
#Python Program to Sort the list according to the column using lambda

In [ ]:
#47.Python – Swap elements in String list
a=["data","science","is","the","best","technology"]
res=",".join(a)
res=res.replace("data","DATA").replace("best","nice").split(',')
print(res)

['DATA', 'science', 'is', 'the', 'nice', 'technology']

In [ ]:
#48.How To Find the Length of a List in Python
li=[1,2,3,4,5,6,7,8,9]
len(li)

9

In [ ]:
#another way(by using for loop)
li=[1,2,3,4,5,6,7,8,9]
count=0
for i in li:
  count=count+1
print("length of list is: ",count)

length of list is:  9

In [ ]:
#49.Python | Reverse All Strings in String List
li=["hello","world","Welcome","to","data","science"]
res = []
for i in li:
	# use slicing to reverse the string and append it to the result list
	res.append(i[::-1])

print(res)

['olleh', 'dlrow', 'emocleW', 'ot', 'atad', 'ecneics']

In [ ]:
#Python program to find the character position of Kth word from a list of strings

In [ ]:
#50.Python – Extract words starting with K in String List
li=["data","science","is","the","best","technology"]
k="t"
res=[]#taking empty list
for i in li:
  temp=i.split()
  for ele in temp:
    if ele[0].lower() == k.lower():
      res.append(ele)
print("original list is:",li)
  #res.append(ele)
print("list words starting with the char k is:", res)

original list is: ['data', 'science', 'is', 'the', 'best', 'technology']
list words starting with the char k is: ['the', 'technology']

In [ ]:
#51.Python – Prefix frequency in string List
li=["hello","hello hii","hello world","data science","data base"]
pre="hello"
count=0
for ele in li:
  if ele.startswith(pre):
    count=count+1
print("no of word starting with hello are: ", count)

no of word starting with hello are:  3

In [ ]:
#52.Python – Split String of list on K character

li= ['data is best', 'for datascience', 'Preparing']

K = ' '

# using join() + split()
res = K.join(li).split(K)#spliting each word on the list

print (res)

['data', 'is', 'best', 'for', 'datascience', 'Preparing']

In [ ]:
#Python – Split Strings on Prefix Occurrence

In [ ]:
#53.Python program to Replace all Characters of a List Except the given character
li= ['d','a','t','a']
given='a'
replace="D"
res=[]
for i in li:

  if i == given:#checking a in the list or not
        res.append(i)
  else:
        res.append(replace)#if d is present on the list we are replacing it with D
print(res)

['D', 'a', 'D', 'a']

In [ ]:
#54.Python – Remove words containing list characters
li= ['hello', 'my', 'name', 'is', 'sowmya']
li1 = ['l', 'o']
res=[]
for i in li:
	x=i
	for j in li1:
	  i=i.replace(j,"")
	if(len(i)==len(x)):
		res.append(i)
print ("after removing  strings are : " + str(res))

after removing  strings are : ['my', 'name', 'is']

In [ ]:
#55.Python – Ways to remove multiple empty spaces from string List
a=['a','b',' ','c',' ','d']
res=[]
for i in a:
  if i.strip():
    res.append(i)
print(res)

['a', 'b', 'c', 'd']

In [ ]:
#56.Python – Add Space between Potential Words
li=['helloWorld','dataSciene']
res=[]
for i in li:
  for j in i:
    if(j.isupper()):#checking the letter is upper or not
      i=i.replace(j," "+j)#if upper means repalce it with space and the nextchar
  res.append(i)
print(res)

['hello World', 'data Sciene']

In [ ]:
#57. Extract elements filtered by substring

list1 = ["hello","hii","how","are","you"]
list2 = ["1","0","1","1","0"]

sub_str = "1"

res = []
for i in range(0, len(list2)):
	if list2[i].find(sub_str) != -1:
		res.append(list1[i])


print("The extracted list : " + str(res))

The extracted list : ['hello', 'how', 'are']

In [ ]:
#58.Python | Convert Character Matrix to single String
list = [['d', 'a', 't','a'], ['s','c','i', 'e','n','c','e'], ['b', 'e', 's', 't']]

# Convert Character Matrix to single String
res = ''.join(ele for sub in list for ele in sub)

# printing result
print("The String after join : " + res)

The String after join : datasciencebest

In [ ]:
#59.Python – Count Strings with substring String List
li=["hello","hello hii","hello world","data science","data base"]
sub="hello"
count=0
for ele in li:
  if ele.find(sub):
    count=count+1
print("no of word starting with hello are: ", count)

no of word starting with hello are:  2

In [ ]:
#Python – Replace Substrings from String List

In [ ]:
#Python – Group Sublists by another List

In [ ]:
#Python | Remove Redundant Substrings from Strings List

In [ ]:
#Python – Sort String by Custom Integer Substrings
li=["my name is sowmya"," i am studying at 10am"]
li2=["NAME","11am"]

In [ ]:
#60.Python – Test if Substring occurs in specific position

str1 = "Datascience is best"

i=12
j =14

substr = "is"

res = str1[i: j] == substr
print("if substring occued on specified position" ,res)

if substring occued on specified position True